*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

#corpo {
    max-width: 1000px;
    width: 100%;
    background-color: #D3D3D3;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006400;
    width: 1000px;
    height: 300px;
    padding: 10px;
}

.colunas {
    margin: 10px;
}

.colunas2 {
    /* margin: 5px 30px; */
}

#foto {
    flex: 1;
}

.fotoperfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#dados {
    flex: 2;
    text-align: center;
}

#dados h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    line-height: 1.5;
    text-align: justify;
}

#dados h2 {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.5;
}

#contato {
    flex: 1;
    line-height: 1.5;
    font-size: 20px;
    color: white;
}

#sobre {
    width: 900px;
    margin: auto auto;
    padding: 5px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid black
}

#sobre h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#sobre p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}

#exp-est {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0px auto;
    background-color: white;
    border-bottom: 1px solid black;
}

#experiencia {
    flex: 1;
    margin-right: 20px;
}

#estudo {
    flex: 1;
    margin-right: 20px;
}

#experiencia h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 6px;
}

#estudo h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 6px;
}

#experiencia h2 {
    font-size: 20px;
}

#estudo h2 {
    font-size: 20px;
}

#experiencia p {
    font-size: 20px;
}

#estudo p {
    font-size: 20px;
}

#experiencia ul {
    list-style-type: none;
}

#estudo ul {
    list-style-type: none;
}

#experiencia ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

#estudo ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

#hab-idi {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0px auto;
    height: 400px;
    background-color: white;
}

#habilidades {
    flex: 1;
    margin-right: 20px;
}

#habilidades h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 6px;
}

#idiomas {
    flex: 1;
    margin-right: 20px;
}

#idiomas h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 6px;
}

#habilidades h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

#idiomas h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

#habilidades ul {
    list-style-type: none;
}

#idiomas ul {
    list-style-type: none;
}

#habilidades ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

#idiomas ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}