*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

#corpo {
    max-width: 1000px;
    width: 100%;
    background-color: #F7F9F9;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495E;
    width: 1000px;
    height: 300px;
    padding: 10px;
}

.colunas {
    margin: 10px;
}

#foto {
    flex: 1;
}

.fotoperfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#dados {
    flex: 2;
    text-align: center;
}

#dados h1 {
    font-size: 50px;
    font-weight: bold;
    color: #BDC3C7;
    line-height: 1.5;
    text-align: justify;
}

#dados h2 {
    font-size: 20px;
    color: #BDC3C7;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.5;
}

#contato {
    flex: 1;
    line-height: 1.5;
    color: #BDC3C7;
}

#contato p {
    font-size: 20px;
}

.span {
    margin: 5px;
}

#sobre {
    width: 900px;
    margin: auto auto;
    padding: 5px;
    text-align: center;
    background-color: #ECF0F1;
    border-bottom: 1px solid black
}

#sobre h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#sobre p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}

#exp-est {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0px auto;
    background-color: #ECF0F1;
    border-bottom: 1px solid black;
}

#experiencia {
    flex: 1;
    margin-right: 20px;
}

#estudo {
    flex: 1;
    margin-right: 20px;
}

#experiencia h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 6px;
}

#estudo h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 6px;
}

#experiencia h2 {
    font-size: 20px;
}

#estudo h2 {
    font-size: 20px;
}

#experiencia p {
    font-size: 20px;
}

#estudo p {
    font-size: 20px;
}

#experiencia ul {
    list-style-type: none;
}

#estudo ul {
    list-style-type: none;
}

#experiencia ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

#estudo ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

#hab-idi {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0px auto;
    height: auto;
    background-color: #ECF0F1;
}

#habilidades {
    flex: 1;
    margin-right: 20px;
}

#habilidades h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 6px;
}

#habilidades h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

#habilidades p {
    font-size: 20px;
}

#idiomas {
    flex: 1;
    margin-right: 20px;
}

#idiomas h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 6px;
}

#idiomas h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

#idiomas p {
    font-size: 20px;
}

#habilidades ul {
    list-style-type: none;
}

#idiomas ul {
    list-style-type: none;
}

#habilidades ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

#idiomas ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}

@media (max-width: 425px) {
    body {
        display: block;
    }

    #corpo {
        max-width: 100%;
    }

    #header {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    #header {
        padding: 5px;
    }

    #exp-est {
        padding: 5px;
    }

    #hab-idi {
        padding: 5px;
    }

    .fotoperfil {
        width: 150px;
        height: 150px;
    }

    #dados h1 {
        font-size: 26px;
        text-align: center;
    }

    #dados h2 {
        font-size: 14px;
        text-align: center;
    }

    #contato {
        font-size: 14px;
        text-align: center;
    }

    #sobre {
        width: 100%;
        height: 100%;
    }

    #sobre h2 {
        font-size: 22px;
        text-align: center;
        margin: 5px 5px;
    }

    #sobre p {
        font-size: 14px;
        text-align: center;
    }

    #exp-est {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #hab-idi {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #experiencia {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    #estudo {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    #habilidades {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    #idiomas {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    #experiencia h1 {
        font-size: 22px;
        text-align: center;
    }

    #estudo h1 {
        font-size: 22px;
        text-align: center;
    }

    #habilidades h1 {
        font-size: 22px;
        text-align: center;
    }

    #idiomas h1 {
        font-size: 22px;
        text-align: center;
    }

    #experiencia h2 {
        font-size: 16px;
        text-align: center;
    }

    #estudo h2 {
        font-size: 16px;
        text-align: center;
    }

    #habilidades h2 {
        font-size: 16px;
        text-align: center;
    }

    #idiomas h2 {
        font-size: 16px;
        text-align: center;
    }

    #experiencia p {
        font-size: 14px;
        text-align: center;
    }

    #estudo p {
        font-size: 14px;
        text-align: center;
    }

    #habilidades ul li {
        font-size: 14px;
        text-align: center;
    }

    #idiomas ul li {
        font-size: 14px;
        text-align: center;
    }

    #habilidades p {
        font-size: 14px;
        text-align: center;
    }

    #idiomas p {
        font-size: 14px;
        text-align: center;
    }

    #habilidades ul li {
        font-size: 14px;
        text-align: center;
    }

    #idiomas ul li {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    body {
        display: block;
    }

    #corpo {
        max-width: 100%;
    }

    #header {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    #header {
        padding: 5px;
    }

    #exp-est {
        padding: 5px;
    }

    #hab-idi {
        padding: 5px;
    }

    .fotoperfil {
        width: 200px;
        height: 200px;
    }

    #dados h1 {
        font-size: 28px;
        text-align: center;
    }

    #dados h2 {
        font-size: 16px;
        text-align: center;
    }

    #contato {
        font-size: 16px;
        text-align: center;
    }

    #sobre {
        width: 100%;
        height: 100%;
    }

    #sobre h2 {
        font-size: 24px;
        text-align: center;
        margin: 5px 5px;
    }

    #sobre p {
        font-size: 16px;
        text-align: center;
    }

    #exp-est {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #hab-idi {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #experiencia {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    #estudo {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    #habilidades {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    #idiomas {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    #experiencia h1 {
        font-size: 24px;
        text-align: center;
    }

    #estudo h1 {
        font-size: 24px;
        text-align: center;
    }

    #habilidades h1 {
        font-size: 24px;
        text-align: center;
    }

    #idiomas h1 {
        font-size: 24px;
        text-align: center;
    }

    #experiencia h2 {
        font-size: 18px;
        text-align: center;
    }

    #estudo h2 {
        font-size: 18px;
        text-align: center;
    }

    #habilidades h2 {
        font-size: 18px;
        text-align: center;
    }

    #idiomas h2 {
        font-size: 18px;
        text-align: center;
    }

    #experiencia p {
        font-size: 16px;
        text-align: center;
    }

    #estudo p {
        font-size: 16px;
        text-align: center;
    }

    #habilidades ul li {
        font-size: 16px;
        text-align: center;
    }

    #idiomas ul li {
        font-size: 16px;
        text-align: center;
    }

    #habilidades p {
        font-size: 16px;
        text-align: center;
    }

    #idiomas p {
        font-size: 16px;
        text-align: center;
    }

    #habilidades ul li {
        font-size: 16px;
        text-align: center;
    }

    #idiomas ul li {
        font-size: 16px;
        text-align: center;
    }
}